.Card{
    margin: 20px auto;
    margin-top: 100px;
    padding: 20px;
    height: 300px;
    width: 600px;
    background-color: rgb(22, 22, 151);
    
    border-radius: 20px;
}

.text{
    font-size: 36px;
    color: rgb(255, 255, 255); 
    margin: 90px 90px 90px 90px;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}