.Menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #ffffff;
    height: calc(100vh - 100px);
    width: 250px;
    text-align: left;
    padding: 1rem;
    position: absolute;
    top: 100px;
    left: 0;
    overflow-y: auto; /* allow vertical scroll */
    overflow-x: hidden; /* no horizontal scroll */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;   
}

.Menu.open{
    transform: translateX(0);
}

.Menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item{
    font-size: 20px;
    text-transform: uppercase;
    padding: 1rem 0;
    letter-spacing: 0.2rem;
    color: #0d0c1d;
    text-decoration: none;
    transition: color 0.3s linear;
    cursor: pointer;
    border:#cacaca
    /* margin-left: 10px; */
}

.menu-item:hover{
    background-color: rgb(22, 22, 151);
    color: white;
    border-radius: 10px;
}

.menu-item.active{
    background-color: rgb(22, 22, 151);
    color: white;
    border-radius: 10px;
}

.list li{
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}