.notflip .Card{

    transform: rotate(0deg);
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    perspective: 1000px;    
    background-color: rgb(22, 22, 151);
}

.flip .Card {
  transform: rotateY(180deg);
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  background-color: rgb(11, 91, 27);
}

.flip .Card .text{
    transform: scaleX(-1);
}

.quiz{
  font-size: 44px;
}

